#category {
  font-weight: bold;
}

#check-img {
  width: 10rem;
}

.wrapper .sidebar {
  background: #f5f5f5;
  position: fixed;
  top: 113px;
  left: 0;
  width: 400px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}

@media only screen and(max-width: 600px) {
  .input-wrap {
    width: 80%;
  }
}
@media only screen and(min-width: 600px) {
  .input-wrap {
    width: 60%;
  }
}
@media only screen and(min-width: 800px) {
  .input-wrap {
    width: 30%;
  }
}
