#checkout {
  font-weight: bold;
}

#check1 {
  border-radius: 10px;
  width: 12rem;
  height: 130px;
}
#check2 {
  width: 12rem;
  height: 130px;
  border-radius: 10px;
}

.image {
  margin-top: 25px;
  margin-left: 10px;
}
